
.Home{
    height:100vh;
    width:100vw;
} 

.home-container {
    display: flex;
    font-family: Arial, sans-serif;
    /* margin-top: 80px; */
    height: 100%;
  }
  
  /* Left chat list container */
  .chat-list-container {
    width: 35vw;
    padding: 20px;
    overflow-y: auto;
    background-color:#222;
  }

  .search-container{
    height: auto;
    margin-bottom: 40px;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
  }
  
  /* Each chat item */
  .chat-item {
    padding: 10px;
    height: 55px;
    background-color: #222;
    cursor: pointer;
    border: 1px solid white;
    margin-bottom: 2px;
  }
  
  /* Styling for group chat background */
  .group-chat {
    background-color: #222;
  }
  
  /* Styling for individual user chat background */
  .user-chat {
    background-color: #222;
  }
  
  /* Chat title styling */
  .chat-title {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    color:white
  }
  
  /* Styling for the last message section */
  .last-message {
    word-break: break-word;
    font-size: 14px;
    color: #efecec;
  }
  
  /* Profile image in the chat */
  .chat-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  /* Styling for the right section where the selected chat will be displayed */
  .chat-section-container {
    flex: 1;
    overflow-y: auto;
  }


  @media (max-width: 768px) {
    .home-container {
      flex-direction: column; /* Stack sections vertically */
      /* top:20vh; */
    }
    .search-container{
      margin-bottom: 10px;
    }
    .chat-list-container {
      position:absolute;
      width: 100%; /* Full width for chat list on mobile */
      top:9vh;
    }
  
    .chat-list-container.hidden {
      display: none; /* Hide chat list when chat is selected */
    }
  
    .chat-section-container {
      width: 100%; /* Full width for chat section on mobile */
    }
  }
  